.unapproved-btn {
    background-color: coral;
    padding: 0.4rem 1rem;
    border-radius: 6px;
}

.unapproved-btn:hover {
    cursor: pointer;
}

.approved-btn {
    background-color: greenyellow;
    padding: 0.4rem 1rem;
    border-radius: 6px;
}

.approved-btn:hover {
    cursor: pointer;
}

.default-btn {
    background-color: darkslategray;
    padding: 0.4rem 1rem;
    border-radius: 6px;
}